@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import "~bootstrap/scss/bootstrap";
@import "../fonts/fonts.scss";
@import "./error.scss";

body {
  background-color: black;
  font-family: "Comfortaa";
  color: white;
  height: 100%;
}
