@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import "~bootstrap/scss/bootstrap";
@import "../fonts/fonts.scss";
@import "./error.scss";

$bg: #121212;
$hero-bg: #0f1724;
$cyan-txt: #04c4c4;
$white-txt: #ddebff;
$lblue-txt: #92abcf;

body {
  background-color: $bg;
  font-family: "Comfortaa";
  color: $white-txt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

a:hover {
  color: inherit;
}

#hero {
  background-color: $hero-bg;
}

.custom-nav {
  background-color: $hero-bg;
  height: 4rem;
  border-radius: 0 0 2rem 2rem;
  color: $cyan-txt;
}

.cyan-txt {
  color: $cyan-txt;
}

.lblue-txt {
  color: $lblue-txt;
}

.lblue-bg {
  background-color: $lblue-txt;
}

.img-card {
  width: 10rem;
  border-radius: 2rem 2rem 2rem 2rem;
}

.img-shield {
  width: 5rem;
}

.timeline {
  border-left: 2px solid $lblue-txt;
}

.btn-lblue {
  background-color: $lblue-txt;
}

.white-txt {
  color: $white-txt;
}

.w-40 {
  width: 40%;
}
